<div class="member-info-container">
    <div id="member-info-container">
        <mat-card-header class="title-container">
            <mat-card-title class="title">Numéro du membre: {{ memberCard.idmember }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Nom du membre: {{memberCard.membername}}</p>
            <p>Emplacement préféré: {{memberCard.preferredparking}}</p>
            <p>Mot de passe: {{memberCard.memberpassword}}</p>
            <p>Numéro de permis: {{memberCard.licenseno}}</p>
            <p>Numéro de banque: {{memberCard.idbankaccount}}</p>
            <p>Type de personne: {{memberCard.entitytype}}</p>
            <p>Date de naissance: {{memberCard.birthdate}}</p>
            <p>Dernier accident: {{memberCard.lastaccidentdate}}</p>
            <p>Adresse postale: {{memberCard.mailingaddress}}</p>
            <p>Email: {{memberCard.email}}</p>
            <!-- TODO: add share holders details -->
            <div *ngIf="memberCard.annualmembership">
                <p>Membre de l'autopartage: Oui</p>
                <p>Cotisation annuelle: {{memberCard.annualmembership}}</p>
            </div>

            <div *ngIf="!memberCard.annualmembership">
                <p>Membre de l'autopartage: Non</p>
                <p>Cotisation annuelle: N/A</p>
            </div>

            <div *ngIf="memberCard.shares.length">
                <p>Membre de la coopérative: Oui</p>
                <p>Liste des parts:</p>
                <p *ngFor="let share of memberCard.shares ; index as i">Part {{i+1}}  # Montant individuel: {{share.individualsum}}</p>
            </div>

            <div *ngIf="!memberCard.shares.length">
                <p>Membre de la coopérative: Non</p>
                <p>Liste des parts: N/A</p>
            </div>

        </mat-card-content>
    </div>
    
</div>