<div id="member-container">
    <mat-card *ngFor="let memberCard of obs | async" class="member-card">
        
        <div class="member-info-container">
            <div id="member-info-container">
                <mat-card-header class="title-container">
                    <mat-card-title class="title">Numéro du membre: {{ memberCard.idMember }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Numéro de banque: {{memberCard.idBankAccount}}</p>
                    <p>Nom du membre: {{memberCard.memberName}}</p>
                    <p>Emplacement préféré: {{memberCard.preferredParking}}</p>
                    <p>Mot de passe: {{memberCard.password}}</p>
                    <p>Numéro de pemrmis: {{memberCard.licenseNo}}</p>
                    <p>Type de personne: {{memberCard.entityType}}</p>
                    <p>Date de naissance: {{memberCard.birthDate}}</p>
                    <p>Dernier accident: {{memberCard.lastAccidentDate}}</p>
                    <p>Adresse postale: {{memberCard.mailingAdress}}</p>
                    <p>Email: {{memberCard.email}}</p>
                    <p>Cotisation annuelle: {{memberCard.annualMembership}}</p>
                    <p *ngIf="memberCard.annualMembership">Membre de l'autopartage'</p>
                    <p *ngIf="!memberCard.annualMembership">Membre de la coopérative</p>
                </mat-card-content>
            </div>
            
        </div>
    </mat-card>
    <mat-paginator [pageSize]="4" [pageSizeOptions]="[4]" aria-label="Select page" mat-raised-button color="primary"></mat-paginator>
</div>
