<div class="flex-column">
    <div class="feedback flex-row">Votre réservation a été complétée avec succès!</div>
    <div class="flex-row">
      <button mat-raised-button color="primary" class="btn" [routerLink]="['/reservations/create']">
        Créer une réservation
        <mat-icon>arrow_right</mat-icon>
      </button>
      <button mat-raised-button color="primary" class="btn" [routerLink]="['/reservations']">
        Afficher les réservations
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </div>