<div class="form-group">
  <label for="place">Emplacement</label>
  <mat-form-field>
    <mat-select id="place" required (selectionChange)="manageLocationChoice($event)">
      <mat-option *ngFor="let location of locations" [value]="location">{{location.parkingname}}</mat-option>
    </mat-select>
  </mat-form-field>

  <label for="date">Date de réservation</label>
  <mat-form-field appearance="fill">
    <mat-label>Choisissez une date : JJ/MM/AAAA </mat-label>
  <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" (dateChange)="manageFreeCars()" required>
  <mat-hint></mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker">
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <label for="periodStart">Heure de début: </label>
  <mat-form-field>
    <input [(ngModel)]="startTime" matInput type="time" step="900" id="periodStart" name="periodStart" min="09:00"
      max="22:00" (change)="manageFreeCars()" required>
  </mat-form-field>

  <label for="periodEnd">Heure de fin: </label>
  <mat-form-field>
    <input [(ngModel)]="endTime" matInput type="time" step="900" id="periodEnd" name="periodEnd" min="09:00" max="22:00"
      (change)="manageFreeCars()" required>
  </mat-form-field>

  <label for="cars">Voitures disponibles</label>
  <mat-form-field>
    <mat-select id="cars" required>
      <mat-option *ngFor="let car of filteredCars" [value]="car.licenseplate"> {{ car.brand }} </mat-option>
    </mat-select>
  </mat-form-field>

  <label for="members">Membres pouvant conduire</label>
  <mat-form-field>
    <mat-select id="members" required>
      <mat-option *ngFor="let member of members" [value]="member.idmember"> {{ member.idmember }} : {{ member.membername }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput (click)="onValidate()" type="submit" value="Envoyer" />
  </mat-form-field>
</div>