@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.feedback {
    font-size: x-large;
    margin-bottom: 10px;
}

.mat-mdc-form-field{
    min-width: 420px;
}
.reservationForm {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin:auto;
    width: 50%;
    padding: 10px;
  
    }
    
    .place { grid-area: 1 / 1 / 2 / 2; }
    .startDate { grid-area: 2 / 1 / 3 / 2; }
    .periodStart {float:left;
         grid-area: 2 / 2 / 3 / 3; }
    .endDate { grid-area: 3 / 1 / 4 / 2; }
    .periodEnd {float:left; grid-area: 3 / 2 / 4 / 3; }
    .cars { grid-area: 4 / 1 / 5 / 2; }
    .members { grid-area: 4 / 2 / 5 / 3; }
    .requirements { grid-area: 5 / 1 / 6 / 2; }
    .validateReservationButton { grid-area: 6 / 1 / 7 / 2; }
    
.periods{
    min-width:10px;
    width:fit-content;
}    
.label{
    display:block;

}   
.errorHints{
    color:red;
}