<div class="reservation-info-container">
    <div id="reservation-info-container">
        <mat-card-header class="title-container">
            <mat-card-title class="title">Période de réservation: {{ reservationCard.reservedperiod }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Numéro membre: {{reservationCard.idmember}}</p>
            <p>Plaque: {{reservationCard.licenseplate}}</p>
            <p>Exigences supplémentaires: {{reservationCard.requirements}}</p>
            <p>Frais: {{changeFormat(reservationCard.fee)}}</p>
            <p>Odomètre début: {{reservationCard.odometerstart}}</p>
            <p>Odomètre fin: {{reservationCard.odometerend}}</p>
        </mat-card-content>
    </div>
    
</div>
